.container{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 10px;
}

.Card-space{
    margin-bottom: 20px;
}

.form-add{
    margin-bottom:20px;
}

@media only screen and (max-width: 765px) {
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-item{
        display: none !important;
    }
}